/* Navbar Container */
.navBar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 1000px;
    background: url('/images/background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.navMessageContainer {
    display: flex;
    width: 100%;

}

.socials {
    padding-top: 1rem;
}

.joinTripButtonContainer {
    position: absolute;
    bottom: 150px;
    width: 100%;
    
}

.titleAnimation {
    position: absolute;
    top: 10%;
    font-size: medium;
    animation: fadeOutLetters 5s ease-out;
    opacity: 0;
    font-size: 100px;
    font-weight: bold;
    color: #0D652D;
    z-index: 4;
    left: 0;
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.linkStyles:visited {
    color: #0D652D;
}

.navMessage {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3rem;
    width: 50%;
    font-size: 20px;
    line-height: 150%;
    bottom: 15rem;
    left: 25%;
    border-radius: 5px;
    border: solid 1px #0D652D;
    margin-bottom: 1rem;
}

@keyframes fadeOutLetters {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.navTitle {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    display: flex;
    background: #0d652dab;
    line-height: 120%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 1000px) {
    .navMessage {
        border: none;
    }
    .titleAnimation {
        font-size: 40px;
    }

    .navMessage {
        display: flex;
        position: relative;
        padding: 2rem;
        left: 0;
        right: 0;
        margin: 0;
        bottom: 15rem;
        width: 100%;
    }

    .navLinks {
        display: none;
    }

    .navBarLinks {
        display: none;
    }

    .navTitle {
        font-size: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        bottom: 12rem;
    }
}