/* Navbar Container */
.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Align items to the bottom */
    padding: 1rem 2rem;
    height: 750px;
    /* Adjust height as needed */
    background: url('/images/background.jpg') no-repeat center center;
    background-size: cover;
    /* Ensure the image covers the entire navbar */
    color: white;
    text-align: center;
    position: relative;
    /* To ensure positioning of elements */
}

.titleAnimation {
    position: absolute;
    top: 17%;
    font-size: medium;
    animation: fadeOutLetters 3s ease-out;
    opacity: 0;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 4;
    left: 0;
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@keyframes fadeOutLetters {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Big Centered Text */
.navTitle {
    font-size: 5rem;
    /* Adjust for the desired size */
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Add shadow for better contrast */
    z-index: 2;
    /* Ensure text appears above other elements */
    position: absolute;
    /* Position text absolutely to be centered */
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Perfectly center the text */
    color: white;
    /* Set link color */
    width: 100%;
    display: flex;
    background: #0d652dab;
    padding: 4.5rem 4rem;
    line-height: 120%;
    flex-direction: column;
}


/* Navbar Logo */
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
    /* Ensure the logo stays above the background */
}

/* Navigation Links */
.navLinks {
    display: flex;
    gap: 3rem;
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    /* Center the nav links horizontally */
    z-index: 1;
    /* Ensure links are above the background */
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    height: 100px;
    align-items: center;

}

/* Navbar Links Styling */
.navbar .navLinks a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    transition: color 0.3s;
    border-left: solid 10px #0D652D;
    padding-left: 10px;

}

.navbar .navLinks a:hover {
    color: #ffcc00f1;
    /* Hover effect */
    text-decoration: underline;

}

@media (max-width: 1400px) {
    .navLinks a {
        font-size: 24px !important;
    }
}


/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navTitle {
        padding: 3rem;
    }

    .navbar h1 {
        font-size: 2rem;
        /* Adjust font size for smaller screens */
    }

    .navLinks {
        flex-direction: column;
        gap: 1rem;
        display: flex;
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        justify-content: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.61);
        height: 215px;
        align-items: center;
    }


}