.navMessage {
    text-align: center;
    padding: 5rem;
    font-size: 20px;
    line-height: 150%;
    border-radius: 2px;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); */
    color: white;
    /* background-color: rgba(0, 0, 0, 0.6) !important; */
}

@media (max-width: 768px) {
    .navMessageContainer {
        display: none;
    }
}